@import '../../../../scss/colors.scss';

$icon-size: 28px;
$icon-right: 14px;

.field-wrapper__container {
  position: relative;
  min-height: 42px;
  input {
    border: 1px solid $gray-0;
    transition: ease-in-out, border .2s ease-in-out;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    padding: 0 ($icon-size + $icon-right) 0 14px;
    &:focus {
      outline: none;
      border-color: $primary-0;
    }
    &::placeholder {
      color: $black-0;
    }
  }
}
