<div class="technology-list__container">
  <form [formGroup]="form" class="technology-list__filters">
    <app-search-field formControlName="search" [placeholder]="'Search....'">
    </app-search-field>
    <app-select-field formControlName="sort">
      <app-select-field-option *ngFor="let s of sortTechnologiesList" [value]="s" id="option">
        {{ s.label }}
      </app-select-field-option>
    </app-select-field>
    <app-select-field formControlName="type">
      <app-select-field-option *ngFor="let type of typeList " [value]="type" id="option">
        {{ type }}
      </app-select-field-option>
    </app-select-field>
  </form>
  <div class="technology-list__List">
    <app-tech-card class="technology-list__card" *ngFor="let tech of technologies" [technology]="tech"
    ></app-tech-card>
  </div>
  <h2>{{ technologies?.length }} Technologies Found...</h2>
</div>
