/* You can add global styles to this file, and also import other style files */
@import './scss/mixins.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Monserrat Bold';
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('woff');
}

@include tooltip-styles;
