
@mixin text($color, $fontSize, $fontweight, $font-family) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontweight;
  font-family: $font-family;
}

@mixin buttonStyle($primaryColor, $secondColor) {
  background-color: $secondColor;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  &:hover {
    background-color: $primaryColor;
    color: $secondColor;
  }
}

@mixin tooltip-styles {
  .tooltip-container {
  }
  .tooltip-example {
    padding: 0 50px;
  }
  .tooltip-example [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: auto;
    border-radius: 5px;
    line-height: 50px;
  }
  .ng-tooltip {
    position: absolute;
    max-width: auto;
    z-index: 1000;
    opacity: 0;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
  }
  .ng-tooltip-show {
    opacity: 1;
  }
}
