<div class="benefits__container">
  <h1>{{ 'LANDING.BENEFITS_MESSAGE' | translate }}</h1>
  <div class="benefits__items">
    <div class="benefits__item">
      <svg-icon src="assets/svg/Ic_Hour.svg" [svgClass]="'benefits__item-icon'"></svg-icon>
      <span>{{ 'LANDING.TIME_FLEXIBILITY' | translate }}</span>
    </div>
    <div class="benefits__item">
      <svg-icon src="assets/svg/Ic_HomeOffice.svg" [svgClass]="'benefits__item-icon'"></svg-icon>
      <span>{{ 'LANDING.HOME_OFFICE' | translate }}</span>
    </div>
    <div class="benefits__item">
      <svg-icon src="assets/svg/Ic_Workshops.svg" [svgClass]="'benefits__item-icon'"></svg-icon>
      <span>{{ 'LANDING.WORKSHOPS' | translate }}</span>
    </div>
    <div class="benefits__item">
      <svg-icon src="assets/svg/Ic_DrinkSnacks.svg" [svgClass]="'benefits__item-icon'"></svg-icon>
      <span>{{ 'LANDING.SNACKS' | translate }}</span>
    </div>
    <div class="benefits__item">
      <svg-icon src="assets/svg/Ic_laptop.svg" [svgClass]="'benefits__item-icon'"></svg-icon>
      <span>{{ 'LANDING.REMOTE_WEEK' | translate }}</span>
    </div>
    <div class="benefits__item">
      <svg-icon src="assets/svg/Ic_brain.svg" [svgClass]="'benefits__item-icon'"></svg-icon>
      <span>{{ 'LANDING.WORKING_TECHNOLOGIES' | translate }}</span>
    </div>
  </div>
</div>
