@import '../../../../scss/colors.scss';
@import '../../../../scss/mixins.scss';

.benefits__container {
  min-height: 350px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  h1 {
    text-align: center;
    @include text($black-0, 25px, 200, 'Monserrat Bold'); 
  }
  .benefits__items {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    .benefits__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      svg-icon {
        height: 120px;
      }
      span {
        @include text($black-0, 15px, 400, 'Monserrat'); 
      }
    }
  }
}
